<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">
     
    <http auto-config="false" use-expressions="true" >
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/recruiterregister" access="permitAll"/>
         <intercept-url pattern="/pofficerregister" access="permitAll"/>
         <intercept-url pattern="/pagencyregister" access="permitAll"/>
        <intercept-url pattern="/jobseekerregister" access="permitAll"/>
        <intercept-url pattern="/res/**" access="permitAll" />
        <intercept-url pattern="/**" access="isAuthenticated()" />
         
 		<access-denied-handler error-page="/403"/>
        
        <form-login login-page="/login"
        	authentication-failure-url="/login?error=true"
        	username-parameter="username"
        	password-parameter="password"
        	default-target-url="/home" />
    </http>
 
    <authentication-manager >
        <authentication-provider>
            <user-service>
                <user name="bill"  password="abc123"  authorities="ROLE_USER" />
                <user name="admin" password="root123" authorities="ROLE_ADMIN" />
                <user name="dba"   password="root123" authorities="ROLE_ADMIN,ROLE_DBA" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
     
    
</beans:beans>